<ion-list>
  <ion-item-sliding *ngFor="let track of tracks; let index = index" #slidingItem>
    <ion-item>
      <ion-button (click)="play(track);" color="secondary" shape="round">
        <ion-icon name="play"></ion-icon>
      </ion-button>
      <ion-label>
        <h2>{{track.name}}</h2>
        <p>{{track.artist}}</p>
      </ion-label>
    </ion-item>
    <ion-item-options>
      <ion-item-option *ngIf="showDeleteButton" (click)="onDelete.emit(track.id);" class="btn btn-danger btn-sm" type="button" color="danger">
        Delete
      </ion-item-option>
      <ion-item-option *ngIf="editButton" (click)="editModal(track);" class="btn btn-info btn-sm" type="button" color="warning">
        Edit
      </ion-item-option>
      <ion-item-option *ngIf="showAddButton" (click)="onAdd.emit(track); slidingItem.close;" class="btn btn-success btn-sm" type="button" color="success">
        Add
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
