<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Add tracks</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar (ionInput)='loadTracks($event.target.value)'></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <app-track-list [editButton]="false" [showAddButton]="true" [showDeleteButton]="false" [tracks]="tracks" (onAdd)="addTrack($event);"></app-track-list>
  </ion-content>
  <ion-footer>
    <ion-button expand="block" ion-button icon-only (click)="dismiss();">
      Close
    </ion-button>
  </ion-footer>
</ion-app>
