<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>Log In</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
      <form (ngSubmit)='loginUser();' [formGroup]='loginForm' novalidate>
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName='email' type="email" class="form-control" placeholder="name@example.com"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName='password' type="password" class="form-control"></ion-input>
        </ion-item>
        <ion-button [disabled]='loginForm.invalid' expand="block" color="primary" type="submit">Log In</ion-button>
      </form>
  </ion-content>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/tabs/tab1']">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label>Tracks</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/tabs/tab2']">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Playlists</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-app>
